/* Changes to Base originate at http://smartwidget.org/base/css/base.css */

html, body, div, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  fontX: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica Neue', HelveticaNeue, calibri, helvetica, arial, sans-serif;
}
td {
  vertical-align: top;
}
body {
  font-size: 14px;
  line-height: 20px;
  color: rgb(77, 82, 89);
  color: rgb(119, 119, 119);
}
a {
  text-decoration: none;
}
a:link {
  color: #4091dd;
}
a:visited {
  color: #4091dd;
}
sup {
  line-height: 0.8em;
  font-size: 0.6em;
}
/*
Stylesheet for ebooks
http://notjohnkdp.blogspot.com/2013/07/heres-my-style-sheet.html

p {
margin-top:0.0em;
margin-bottom:0.0em;
text-indent:1.0em;
text-align:justify;
}

p.first {
margin-top:0.5em;
margin-bottom: 0.0em;
text-indent:0.0em;
text-align:justify;
}

p.left {
margin-top:0.5em;
margin-bottom: 0.0em;
text-indent:0.0em;
text-align:left;
}

p.center {
margin-top:0.0em;
margin-bottom:0.25em;
text-indent:0.0em;
text-align:center;
}

h2 {
margin-top:1em;
font-size: 150%;
text-indent: 0em;
font-style: italic;
text-align:center;
}

h3 {
margin-top:1em;
font-size: 125%;
text-indent: 0em;
}

h4 {
margin-top:1em;
font-size: 125%;
text-indent: 0em;
text-align:left;
}

p.large {
font-weight: bold;
margin-top:1em;
margin-bottom:1em;
font-size: 200%;
font-style: italic;
text-indent: 0em;
text-align:center;
}

p.medium {
font-weight: bold;
font-size: 150%;
font-style: italic;
margin-top:1.0em;
margin-bottom:1.0em;
text-indent: 0em;
text-align:center;
}

p.small {
font-weight: bold;
margin-bottom:1em;
font-size: 125%;
text-indent: 0em;
text-align:center;
}

p.block {
font-family: courier, monospace;
text-indent: 1em;
text-align:left;
margin:0em 0em 0em 1em;
}

p.blockfirst {
font-family: courier, monospace;
text-indent: 1em;
text-align:left;
margin:0.5em 0em 0em 1em;
}

p.blockcenter {
font-family: courier, monospace;
text-align:center;
margin:0.5em 0em 0em 1em;
}

span.smallcap {
font-size: 90%;
font-weight: bold;
}

div.image {
text-align:center;
margin-bottom: 0.25em;
}

div.icon {
text-align:center;
margin-bottom: 1em;
}

div.caption {
margin-bottom: 1em;
text-align:center;
font-style:italic;
}
*/


p {
  margin-top: 0px;
  margin-bottom: 14px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: rgb(77, 82, 89);
    margin:0px;
}
h1 {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 30px;
}
h2 {
  font-size: 24.5px;
  line-height: 27px;
  margin-bottom: 22px;
}
h3 {
  font-size: 1.27em;
  line-height: 1.3em;
  margin-top: 20px;
  margin-bottom: 16px;
}
h4 {
  font-size: 1.20em;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 0px;
  color:#777;
}
@media print 
{
  .noprint {display: none; }
  body{margin-top:30px; color: #000; }
  table{color: #000; }
}
@media screen {.printonly {display: none; }}

.container {
  margin:0 auto; /* centers the content */
  max-width: 1200px;
  padding-left:20px;
  padding-right:20px;
}
.nav {
  list-style: none;
}
.nav>li>a {
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav>li>a:hover {
  background: #ddd;
}
.nav-right {
  float:right;
}
.nav-right ul li {
  float:left;
}
.header-navigation {
  background-color:#eceaeb;
  margin-bottom:0px; 
  -webkit-box-shadow: 0 4px 4px -2px #999;
  -moz-box-shadow: 0 4px 4px -2px #999;
  box-shadow: 0 4px 4px -2px #999;  
}
.main-content {
  margin-top: 40px;
  overflow:hidden; /* prevents footer from residing beside columns */
}
/*
#mainColumn img {
  width:100%;
}
*/
#rightColumn img {
  width:100%;
}
#footer-navigation {
    clear:both;
    margin-top: 40px;
    border-top: 1px solid #d6d6d6;
}


.button {
  cursor: pointer;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.11111rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.88889rem;
  padding-right: 1.77778rem;
  padding-bottom: 0.94444rem;
  padding-left: 1.77778rem;
  font-sizeX: 1.05rem;
  font-size:12pt;
  /*
  background-color: #008cba;
  */
  background-color: #008cba;
  border-color: #007ba1;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 0.94444rem;
  padding-bottom: 0.88889rem;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
  -webkit-border-radius: 3px;
  border-radius: 3px; 
}
.button:link {
  color: #fff;
}
.button:visited {
  color: #fff;
}
.button:hover {
  text-decoration: none;
  background-color: #0077cc;
}
.button.active {
  background-color: #008cba;
}

.menuButtons a {
  font-size: 14pt;
  min-width: 250px;
}
@media (max-width:999px) {
  .main-content {
    margin-top: 14px;
  }
  .container {
    padding-left:26px;
    padding-right:16px;
  }
}

@media (max-width:400px) {
  h1, h2, h3, h4 {
    line-height: 28px;
  }
  h1 {
    font-size: 28px;
    margin-bottom: 20px
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    margin-top: 16px;
  }
}

.left {
  width: 49.5%; max-width:500px;float:left;
}
.left .inner {
  padding-right:30px;
}
.left img {
  width:100%;
}
.main {
  width:50.5%; float:left;
  min-width:150px;
}
.wrapleft {
  float: none;
  width:100%;
}
.wrapleft p { /* Prevents orphans */
  overflow:hidden;
}
.main img {
  width:100%;
}
.right {
  width: 49.5%; max-width:500px; float:right;
}
.right .inner {
  padding-left:36px;
}
.right img {
  width:96%;
}
.clear {
  clear:both;
  height:0px;
}
.nowrap {
  white-space: nowrap;
}

@media screen and (max-width:650px) {
  .left {
    width:100%;
    max-width:100%;
    border-right-width:0px;
    max-widthX:350px;
  }
  .left .inner {
    padding-right:0px;
  }
  .main {
    width:100%;
    max-width:100%;
    max-widthX:350px;
  }
  .right {
    float:left;
    width:100%;
    max-width:100%;
    border-left-width:0px;
    max-widthX:350px;
  }
  .right .inner {
  padding-left:0px;
  }
}

@media (max-width:650px) {
  #mainColumn { /* phase out for .main */
    width:100%;
    float:left;
  }
  #rightColumn { /* phase out for .right */
    width:100%;
    max-width:100%;
    float:left;
  }
}
@media (max-width: 550px) {
  .hideMobile { display:none; }
  .showMobile { display:block; }
}
@media (min-width: 551px) {
  .hideMobile { display:block; }
  .showMobile { display:none; }
}

