            html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                font-family: 'Open Sans', 'Helvetica Neue', HelveticaNeue, calibri, arial, sans-serif;
            }
            a {
                text-decoration: none;
                color: #559;
            }
            #renderCanvas {
                width: 100%;
                height: 100%;
                touch-action: none;
            }
            #intro {
                display:none;
                position:absolute;
                right:20; 
                z-index:100;
                max-width:300;
                margin:20px;
                padding:20px; 
                background:#000;
                color:#fff;
            }
            #intro a {
                color:#ddf;
            }
            #showInfo {
                displayX: none; /* temp */
                background:#000;
                color:#fff;
                padding:10px;
                margin:10px;
                position: absolute;
                right: 10px;
                cursor: pointer;
                z-index:99999;
            }
            #pageTitle {
                padding:20px;
                position:absolute; z-index:99999; left:0; right:0; background-color:#fff
            }