
#c-submit-button {
	background: #55a !important;
	border: 0px !important;
	border-radius: 3px;
	margin-bottom: 0px;
}
#c-submit-button:hover {
	background: #77c !important;
}
bodyX {
	background: #ececed;
}
*{
    -webkit-transition:all .5s ease;
         -moz-transition:all .5s ease;
               -o-transition:all .5s ease;
                     transition:all .5s ease;
}
#smartHeader {
	height:42px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	width:100%;
	z-index: 10;
}
#logoHolder {
	margin:8px 8px 0px 8px;
	font-family: 'Helvetica Neue', HelveticaNeue, calibri, arial, sans-serif;
}
#logoTitle {
	color: rgba(245,245,255,0.2);
}
#floatText {
	position:absolute;
	background: rgba(245,245,255,0.5);
	background: black;
	padding:25px;
	top:80px;
	right:6%;
}
.navOffset {
	top:54px;
}
.listSpacing li {
	padding-bottom:10px;
	font-size: 11pt;
}

@media (max-width:860px) {
	#floatText {
		position:relative;
		top:0px;
		right:0px;
	}
}

.field-content {
    width:33%; /* determines number of columns */
    padding-bottom:20%; /* determines height */
    overflow:hidden;
    position:relative;
    float:left;

}
@media (max-width:800px) {
	.field-content {
    	width:100%;
    	padding-bottom:50%;
	}
}
.field-margins {
	margin: 20px;
	margin-top: 0px;
	position: absolute;
	left:0px;
	top:0px;
	bottom: -0px;
	right:0px;
	overflow:hidden;
}
.field-relative {
	position:absolute;
	height:100%;
	min-height: 180px;
	width:100%;
}
.field-image {
    position:absolute;
    min-width:100%;
    min-height:100%;
    opacity: 0.90;
    filter: alpha(opacity=80);
}
.field-image:hover {
	opacity: 1;
    filter: alpha(opacity=100);
    font-weight: bold;
}
.field-title {
    position: absolute;
    padding: 20px 5px 10px 5px;
    background: #333;
    opacity: 0.80;
    filter: alpha(opacity=80);
    /* filter: alpha for IE8 and earlier; */
    color: #fff;
    font-size: 24px;
    font-weightX: bold;
    text-align: center;
    min-height: 12px;
    overflow: hidden;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 30px;
}

